@use '../../../../scss/abstracts/' as a;

header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4.5rem;
  height: 60px;

  p{
   display: flex; 
   justify-content: center;
   align-items: center;
   gap: .3rem;
  }

  a{
    font-size: 1.2rem;
    font-family: nunito-sans-extrabold-7;
  }
}

@include a.breakpoint('md'){
  header{
    padding-inline: 2rem;

    a{
      font-size: 1rem;
    }
  }
}